@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* Header */
header {
  font-family: Nunito;
  display: flex;
  align-items: center;
  margin: 32px;
}

header,
body {
  background-color: white;
}

header a {
  text-decoration: none;
}
header a:active {
  color: #612999;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  display: inline;
  width: 64px;
  height: auto;
}

#logo span {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 25%;
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  margin-left: 135px;
  gap: 64px;
  align-items: center;

  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0;
  color: #612999;
}
#nav-current-page,
nav a:hover {
  font-weight: 700;
}

/* Footer */

footer {
  background-color: #efecff;
  padding: 32px;
}
#footer-sections {
  display: flex;
  gap: 150px;
  margin-bottom: 24px;
}

#who-we-are-section,
#follow-us-section {
  display: flex;
  flex-direction: column;
}

footer h4 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
footer a {
  margin: 8px;
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  color: #333333;
}
#footer-social-section {
  margin-bottom: 16px;
}
#footer-social-section a {
  color: #272d4e;
}
#copyright-section span {
  font-family: Nunito;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #333333;
}

/* Main */
main {
  flex: 1;
}

#welcome-splash {
  position: relative;
  width: 100vw;
}
#welcome-splash img {
  width: 100vw;
  height: auto;
  display: block;
  opacity: 0.5;
}

#splash-text {
  font-family: Nunito;
  position: absolute;
  top: 32px;
  left: 32px;
}

main h1 {
  font-weight: 800;
  font-size: 96px;
  font-size: clamp(1rem, 8vw, 96px);
  line-height: 100%;
  letter-spacing: 0%;
  color: #612999;
  text-transform: uppercase;
  margin: 0;
  white-space: nowrap;
}
main p {
  font-family: Nunito;
  font-weight: 600;
  font-size: clamp(0.5rem, 2.5vw, 24px);
  line-height: 100%;
  letter-spacing: 0%;

  color: #000000;
}

/* About */

#about-section {
  padding: 32px;
}
#about-section h2 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #612999;
}
#about-section p {
  font-family: Rubik;
  font-weight: 400;
  font-size: 20px;
  line-height: 141%;
  letter-spacing: 0%;
  text-align: justify;
}
